/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
} */
html, body {
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  text-align:center;
}


/* to show map */
body > div:first-child {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* **************HEADER************* */

/* take out border lines for the header box */
.navbar-default {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
}

.navbar-default > div:first-child {
  width: 100%;
}

/* change text color of brand */
.navbar-default .navbar-brand {
  color: black;
  font-size: 20px;
}

/* take out border line of expanded header */
.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: transparent;
}

.navbar-nav > li:first-child > a:first-child {
  display: none;
}

.navbar-nav > li > a {
  height: 60px;
  font-size: 17px;
}

.sign-up-nav-item > a:first-child {
  display: none;
}

/* CUSTOM HEADER RESPONSIVE NAV BAR */
.nav_container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: 100px;
}

.header-hamburger {
  float: right;
  /* left: 95%; */
  width: 50px;
  height: 50px;
  padding: 20px 70px 20px 20px;
  font-size: 30px;
  text-align: center;
}
.header-hamburger {
  padding: 10px;
}

.navbar-brand {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 20px 0 0 20px;
}

.header-list {
  float: right;
}

.nav-item {
  list-style-type: none;
  float: right;
  padding-top: 0;
  padding: 20px 20px 0 20px;
  margin: 0;
  font-size: 17px;
}

/* HEADER after modal */
.header-links {
  padding: 10px;
  font-size: 17px;
}

.header-links:hover {
  color: gray;
  text-decoration: underline;
}
/* FORMS */
/* form {
  padding: 20px;
  margin: 20px;
} */

.form-control {
  width: 90%;
  margin-left: 20px;
}

.error {
  color: blue;
}

.auth-form-group {
  /* margin-top: 20px; */
  padding-top: 20px;
}
.auth-form-label {
  float: left;
  margin: 0 15px 0 20px;
  min-width: 170px;
  text-align: left;
}

.reset-password {
  padding: 20px;
  font-size: 17px;
  /* margin-bottom: 20px; */
}
.reset-password-btn {
  padding: 10px;
  margin-bottom: 20px;
  /* margin-bottom: 20px; */
}



/* CREATE FLAT Form */

.create-flat-form-group {
  /* margin-top: 20px; */
  padding-top: 20px;
}
.create-flat-form-label {
  float: left;
  margin: 0 15px 0 20px;
  min-width: 170px;
  text-align: left;
}

/* ************MAP**************** */

#map {
  height: 400px;
  /* width: 100%; */
  /* position: relative; */
  /* background-color: lightgray; */
  max-width: 1000px;
  padding: 10px;
  /* margin-right: 0px !important; */
  display: flex;
  justify-content: center;
}

#map div:first-child {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

.no-results-message {
  font-size: 15px;
  padding: 20px;
}

.gm-style-iw {
  width: 350px !important;
  top: 18px !important;
  left: 0px !important;
}

.gm-style-iw + div {
  display: none;
}

#infowindow-box-image-box {
  height: 220px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
  border-radius: 5px 5px 0 0;
}

#infowindow-box-image-box-sib {
  height: 100%;
  width: 50px !important;

  display: flex !important;
  align-items: center !important;
  align-content: center !important;
}

#infowindow-box-Detail-box {
  background-color: white !important;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

.iw-arrow {
  height: 30px !important;
  width: 50px !important;
  font-size: 45px !important;
  color: gray;
  /* font-weight: bold; */
  margin: 0px !important;
  padding: 0;
}

.gm-marker-label {
  width: 50px;
  height: 20px;

  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}

/* *************MAP INTERACTTION ****************/

.map-interaction-container {
  width: 100%;
  min-height: 300px;
  /* margin: 10px; */
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.map-interaction-box {
  width: 300px;
  height: 360px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
}

.map-interaction-box select{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  margin: 5px 0 5px 0;
  float: left;
}

.place-search-btn {

}

.map-interaction-box input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding: 5px;
  /* margin: 2px; */
}
.map-interaction-title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  padding: 5px;
}
.map-interaction-search-criterion {
  width: 100%;
  height: 35px;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 5px;
}

.map-interaction-box ul {
  height: 85%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
}

.map-interaction-box li {
  list-style-type: none;
  font-size: 17px;
  padding: 5px;
}

/* .map-interaction-title */
.map-interaction-box li i {
  font-size: 10px;
}

.interaction-btn {
  float: right;
  margin: 10px;
}

#map-interaction-input {
  font-size: 15px;
  margin-top: 10px;
}

/* remove powered by google from autocomplete */
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.search-gm-button {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  float: left;
  padding: 10px 0px 10px 0px;
  /* border-color: blue; */
}


/* ***********PAGINATION*************** */

.pagination-container {
  /* width: 66%; */
  /* height: 30px; */
  /* display: flex;
  justify-content: center;
  font-size: 17px; */
  margin-top: 30px;
}

.pagination li {

}
.pagination {
  /* display: inline-block; */
}

.pagination li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination li.current {
  background-color: #4CAF50;
  color: white;
}
.pagination li:hover:not(.active) {
  background-color: #ddd;
}



/* **********SHOW FLAT***************** */
#carousel-show {
  width: 100%;
  /* height: 320px; */
  height: 320px;
  /* overflow-y:scroll; */
  overflow: auto;
  white-space: nowrap;
}

#carousel-show .slide-show {
  display: inline-block;
}

.slide-show img {
  height: 300px;
  width: 350px;
  padding-left: 10px;
}

.show-flat-image-box {
  height: 340px;

}

.show-flat-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: left;
  padding-left: 15px;
  font-size: 20px;
}

.show-flat-description {
  color: blue;
  font-weight: bold;
}
.show-flat-area {
  color: gray;
}
.show-flat-sales_point {
  /* color: gray; */
}

.show-flat-beds {
  /* font-size: 15px; */
}
.show-flat-price {
  /* color: gray; */
}
.show-flat-id {
  color: gray;
  font-size: 15px;
}

.date-picker-container {
  margin: 20px;
}

.booking-button {
  margin: 30px;
}

.show-flat-button-box {
  margin: 30px;
}
.show-flat-button-box:hover {
  opacity: .6;
}

.carousel-container {
  padding-left: 15px;
}

.show-flat-current-user-button-box {
  display: flex;
  justify-content: center;
}

/* ******************* MESSAGING *************************** */
.message-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-box {
  width: 500px;
  margin: 5px;
  height: 500px;
  /* border: 1px solid #ccc; */
}
#message-show-box {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  overflow-y: scroll;
}
.message-input-box {
  margin-top: 5px;
  width: 100%;
  /* height: 150px; */
  height: 35%;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
}
.message-btn {
  float: right;
  margin: 5px;
}

.each-message-box {
  width: 100%;
  min-height: 70px;
  display: block;
  overflow: auto;
  /* height: auto; */
  margin: 1px;
}
/* .each-message-box {
  width: 100%;
  display: block;
  overflow: auto;
  margin: 1px;
} */
.each-message {
  max-width: 270px;
  height: 100px;
  margin: 2px;
  /* border-radius: 10px; */
  /* border: 1px solid #ccc; */
  /* overflow: hidden; */
  height: auto;
  /* display: block;
  overflow: auto; */
}

.each-message-user {
  max-width: 250px;
  height: 100px;
  margin: 2px;
  /* border-radius: 10px; */
  /* border: 1px solid #ccc; */
  float: right;
  /* overflow: hidden; */
  height: auto;
  /* display: block;
  overflow: auto; */
}
.each-message-date {
  /* border: 1px solid #ccc; */
  width: auto;
  font-size: 10px;
  color: #ccc;
  text-align: left;
  margin-left: 5px;
}
.each-message-read {
  /* border: 1px solid #ccc; */
  width: auto;
  font-size: 10px;
  color: #ccc;
  text-align: left;
  margin-left: 5px;
}

.each-message-content-user {
  max-width: 100%;
  min-width: 100px;
  border: 1px solid #ccc;
  text-align: right;
  border-radius: 10px;
  font-size: 15px;
  height: auto;
  /* word-break: break-all; */
  padding: 5px;
  margin-right: 2px;
  display: inline-block;
  float: right;
  background-color: lightgray;
}

.each-message-content {
  max-width: 100%;
  min-width: 100px;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 10px;
  font-size: 15px;
  height: auto;
  /* word-break: break-all; */
  padding: 5px;
  display: inline-block;
  float: left;
}

.no-conversation-message {
  color: gray;
  font-size: 17px;
}

#messaging-hamburger {
  float: left;
  font-size: 22px;
}

/* MYPAGE MESSAGE */

.mypaga-message-box {
  width: 100%;
  margin: 5px;
  height: 75%;
}

/* ************Edit Flat******************* */

.edit-flat-address {
  width: 300px;
  margin-left: 20px;
  text-align: left;
}

.edit-flat-image-box {
  margin: 20px;
}

.flat-input-form-container {
  margin: 20px 0 20px 0;
}

form {
  margin: 20px 0 20px 0;
}

.submit-button {
  margin-left: 20px;
}

.confirm-change-and-button {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.confirm-radio {
/* padding-right: 20px; */
display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;

 cursor: pointer;
 font-size: 15px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.confirm-radio input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.confirm-radio label {
  margin-right: 20px;
}

/* make checkbox larger */
/* #editFlatConfirmCheck { */
  /* -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4); */
  /* color: white; */
/* } */
/* #editFlatConfirmCheck: hover { */
  /* opacity: .5; */
/* } */
.fa-check {
  color: blue;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  /* background-color: #eee; */
  background-color: #fff;
  border: 2px solid #ccc;
  border-color: gray;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.confirm-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.confirm-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  /* top: 20px; */
}

/* Show the checkmark when checked */
.confirm-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.confirm-radio .checkmark:after {
  left: 5px;
  top: -1px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ************Edit flat images************* */

/* #carousel-show-edit-flat {
  width: 100%;
  height: 210px;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 15px;
} */
#carousel-show-edit-flat {
  width: 100%;
  /* height: 210px; */
  /* overflow: auto;
  white-space: nowrap;
  margin-bottom: 15px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.slide-show-edit-flat {
  /* display: inline-block; */
  position: relative;
}
.slide-show-edit-flat img {
  width: 150px;
  height: 150px;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}

.delete-image-buttons {
  margin-bottom: 30px;
}

.delete-image-radio {
  position: absolute;
}

.delete-image-radio input {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.checkmarkDeleteImage {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 20px;
  width: 20px;
  /* background-color: #eee; */
  background-color: #fff;
  border: 2px solid #ccc;
  border-color: gray;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.delete-image-radio:hover input ~ .checkmarkDeleteImage {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.delete-image-radio input:checked ~ .checkmarkDeleteImage {
  background-color: #2196F3;
}

/* Create the checkmarkDeleteImage/indicator (hidden when not checked) */
.checkmarkDeleteImage:after {
  content: "";
  position: absolute;
  display: none;
  /* top: 20px; */
}

/* Show the checkmarkDeleteImage when checked */
.delete-image-radio input:checked ~ .checkmarkDeleteImage:after {
  display: block;
}

/* Style the checkmarkDeleteImage/indicator */
.delete-image-radio .checkmarkDeleteImage:after {
  left: 5px;
  top: -1px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-delete-all-images {
  margin: 0 15px 10px 0;
}

.btn-uncheck-all-images {
  background-color: gray;
  color: white;
  margin: 0 15px 10px 0;
}
.btn-check-all-images {
  /* background-color: gray; */
  color: white;
  margin: 0 15px 10px 0;
}



/* **********Booking Confirmation *************** */

.booking-confirmation-details {
  margin: 30px 20px 30px 20px;
}

/* *************MAIN CARDS*************** */

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card-container {
  height: 370px;
  width: 300px;
  margin: 10px 10px 0px 0px;
  padding: 0;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}
.card-image {
  height: 300px;
  width: 300px;
  background-color: lightgray;
  padding: 0px;
  margin: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-arrow-box {
  width: 70px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-box i {
  color: dark-gray;
  font-size: 40px;
  padding: 10px;
}

.card-cover {
  color: transparent;
  font-size: 20px;
  /* padding: 10px 0px 10px 0px; */
  padding: 10px 0px 10px 0px;
  /* text-align: center; */
  /* pointer-events: none; */
}

.card:hover {
  background-color: black;
  opacity: .6;
}

.card:hover .card-cover {
  /* background-color: dark-gray; */
  opacity: .7;
  color: white;
}

.card-details {
  height: 60px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.card-flat-caption {
  color: gray;
  text-align: left;
  font-weight: bold;
}

.card-flat-price {
  text-align: left;
}

.card-flat-amenities {
  text-align: left;
}
.card-flat-amenities i {
  padding-right: 5px;
}

/* card box is postion: relative */



#card-like-box {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10px;
  right: 10px;
  /* opacity: .75; */
  /* z-index: 10;
  /* opacity: 0; */
  /* background: transparent;
  color: lightgray;
  pointer-events: none; */
}
#card-like-box i {
  /* width: 5%;
  height: 5%;
  position: absolute;
  top: 0;
  right: 40px; */
  font-size: 40px;
  /* z-index: 10; */
  /* opacity: 0; */
  background: transparent;
  color: lightgray;
  pointer-events: none;
}


/* #card-like-box {
  color: #ccc;
  background: transparent;
  opacity: 0;
} */


/* *********SPINNER************** */
.spinner {
  padding-top: 20px;
  font-size: 18px;
}

/* ***************FILE UPLOAD************** */
.dropzone-area {
  height: 200px;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-area > div:first-child {
  border-style: dashed;
  border-color: blue !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dropzone-area p {
  color: gray !important;
  font-size: 20px;
}
.dropzone-area i {
  color: gray !important;
  font-size: 80px;
}

.image-upload-preview-ul {
  list-style-type: square;
  text-align: left;
}

.image-upload-preview-ul > li {
  color: blue;
}

/* **************MY PAGE**************** */
/* ***************** MYPAGE ********************  */

.btn-create-flat {
  margin: 20px 20px;
  background-color: green;
  color: white;
}

.my-page-container {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.my-page-category-container {
  min-height: 450px;
  min-width: 370px;
  max-height: 500px;
  border: 1px solid #ccc;
  margin: 5px 5px 0 0;
  /* display: flex;
  justify-content: center;
  align-content: center; */
}

.my-page-category-container ul {
    width: 100%;
    height: 390px;
    padding: 0px;
    overflow: hidden;
    overflow-y: scroll;
}

.my-page-category-title {
    padding: 10px;
}

.my-page-each-card {
  border: 1px solid #ccc;
  width: 100%;
  height: 100px;
  margin-bottom: 2px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.my-page-each-card img {
  width: 100px;
  height: 96%;
  margin: 2px;
  pointer-events: none;
}

.my-page-each-card-click-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.my-page-card-button-box {
  height: 100%;
  width: 80px;
  /* border: 1px solid #ccc; */
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  align-content: center;
  margin-right: 2px;
}

.my-page-card-button-box .btn-edit{
  /* background-color: #4CAF50 !important; */
  border: 1px solid #4CAF50;
  color: gray;
  /* color: white; */
}
.my-page-card-button-box .btn-delete{
  /* background-color: ; */
  /* color greeen */
  color: gray;
  border: 1px solid red;
  /* color: white; */
}
.my-page-card-button-box .btn-edit:hover{
  opacity: .8;
}

.my-page-category-title {
  font-weight: bold;
}

.my-page-details {
  pointer-events: none;
}
.my-page-details ul {
  list-style-type: none;
  height: 100%;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-content: flex-start; */
  text-align: left;
  margin: 5px 0 0 10px;
  pointer-events: none;
}
.my-page-details ul li {
  list-style-type: none;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-content: flex-start; */
  pointer-events: none;
  font-size: 11px;
}
.my-page-details ul li:first-child {
  font-weight: bold;
  font-size: 13px;
  color: darkGray;
}

/* ***********MODAL****************** */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  min-height: 350px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.modal-main form {
  margin-top: 70px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  /* border-radius: 4px; */
  font-size: 30px;
  border: 0;
  color: gray;

}

.signup-btn {
  background-color: white;
  color: blue;
  border-color: gray;
  margin: 20px 0 0 15px;
}

.signin-btn {
  margin-left: 20px;
}

.goto-signin-link {
  color: blue;
  padding: 10px;
  font-size: 17px;
}
.goto-signin-link:hover {
  color: gray;
  text-decoration: underline;
}

.post-signup-message {
  margin: 100px 50px 0 50px;
  font-size: 17px;
}

@media screen and (min-width: 800px) {
    /* body {
        background-color: lightgreen;
    } */
    .form-control {
      width: 500px;
    }

    /* body > div:first-of-type {
      margin: 0px;
    } */
}
