/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
} */
html, body {
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  text-align:center;
}

body > div:first-child {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* **************HEADER************* */

/* take out border lines for the header box */
.navbar-default {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
}

.navbar-default > div:first-child {
  width: 100%;
}

/* change text color of brand */
.navbar-default .navbar-brand {
  color: black;
  font-size: 20px;
}

/* take out border line of expanded header */
.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: transparent;
}

.navbar-nav > li:first-child > a:first-child {
  display: none;
}

.navbar-nav > li > a {
  height: 60px;
  font-size: 17px;
}

.sign-up-nav-item > a:first-child {
  display: none;
}

/* FORMS */

.form-control {
  width: 90%;
}

.error {
  color: blue;
}

/* ************MAP**************** */

#map {
  height: 350px;
  /* width: 100%; */
  /* position: relative; */
  /* background-color: lightgray; */
  max-width: 1000px;
  padding: 10px;
  /* margin-right: 0px !important; */
  display: flex;
  justify-content: center;
}

#map div:first-child {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

/* #wrapper {
  position: relative;
}
#over_map {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  height: 100px;
  width: 100px;
   } */

gm-style-iw {
  color: gray;
  font-weight: bold;
  padding: 10px;
  /* display: none; */
  pointer-events: none;
}

a {
    text-decoration: none !important;
}

.gm-style img {
    max-width: none;
    width: 200px;
    height: 200px;
}
/* .gm-style .card-image-infowindow {
    max-width: none;
    width: 120px;
    height: 120px;
} */
/* .gm-style #infowindow-box {
    min-height: 150px;
    min-width: 150px;
} */
/* .gm-style .infowindow-box-custom {
  width: 100%;
  height: 100%;
} */

/* .gm-style-iw #infowindow-box-custom div:first-child div:first-child {
  width: 125px;
  height: 125px;
} */

/* forth div the box for the image and text */
.gm-style-iw div div div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .gm-style-iw div:not(a) {
  pointer-events: none;
} */

/* fifth div the image */
.gm-style-iw div div div div div {
  height: 125px !important;
  width: 125px !important;
  /* background-color: lightgray; */
  padding: 0px;
  margin: 5px 5px 0px 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}
.gm-style-iw div div div div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

#carousel-iw {
  /* width: 100%;
  height: 150px;

  overflow: visible;
  white-space:nowrap; */
  display: flex;
  justify-content: space-around;
}
#carousel-iw .slide-iw {
    /* display: inline-block; */
    padding: 2px;
}

#infowindow-box-image-box {
  height: 140px;
  width: 200px;
  display: flex;
  justify-content: space-between;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
}
#infowindow-box-image-box-sib div:first-child {
  height: 100px;
  width: 100px;

  display: flex;
  align-items: center;
}



/* **********SHOW FLAT***************** */
#carousel-show {
  width: 100%;
  /* height: 320px; */
  height: 320px;
  /* overflow-y:scroll; */
  overflow: auto;
  white-space: nowrap;
}

#carousel-show .slide-show {
  display: inline-block;
}

.slide-show img {
  height: 300px;
  width: 350px;
  padding-left: 10px;
}

.show-flat-image-box {
  height: 340px;

}

/* .show-flat-image-box img {
  height: 100%;
  width: 100%;
  padding-left: 15px;
} */

/* .show-flat-description-box {
  display: flex;
  justify-content: space-around;
} */

.show-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: left;
  padding-left: 15px;
  font-size: 20px;
}

.carousel-container {
  padding-left: 15px;
}

/* *************CARDS*************** */

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
/* .card-row > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

} */

.card-container {
  height: 370px;
  width: 300px;
  margin: 10px 10px 0px 0px;
  padding: 0;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}
.card-image {
  height: 300px;
  width: 300px;
  background-color: lightgray;
  padding: 0px;
  margin: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-arrow-box {
  width: 70px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-box i {
  color: dark-gray;
  font-size: 40px;
  padding: 10px;
}

/* .card .card-arrow-box:hover {
  pointer-events: none;
} */

.card-cover {
  color: transparent;
  font-size: 20px;
  /* padding: 10px 0px 10px 0px; */
  padding: 10px 0px 10px 0px;
  /* text-align: center; */
  /* pointer-events: none; */
}

.card:hover {
  background-color: black;
  opacity: .6;
}

.card:hover .card-cover {
  background-color: dark-gray;
  opacity: .7;
  color: white;
}

.card-details {
  height: 60px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.card-flat-caption {
  color: gray;
  text-align: left;
  font-weight: bold;
}

.card-flat-price {
  text-align: left;
}

.card-flat-amenities {
  text-align: left;
}
.card-flat-amenities i {
  padding-right: 5px;
}

/* *********SPINNER************** */
.spinner {
  padding-top: 20px;
  font-size: 18px;
}

/* FILE UPLOAD */
.dropzone-area {
  height: 300px;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-area > div:first-child {
  border-style: dashed;
  border-color: blue !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dropzone-area p {
  color: gray !important;
  font-size: 20px;
}
.dropzone-area i {
  color: gray !important;
  font-size: 80px;
}


@media screen and (min-width: 800px) {
    /* body {
        background-color: lightgreen;
    } */
    .form-control {
      width: 500px;
    }

    /* body > div:first-of-type {
      margin: 0px;
    } */
}
