/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
} */
html, body {
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  text-align:center;
}

body > div:first-child {
    width: 100%;
    margin: 0;
    padding: 0;
}




/* HEADER */

/* take out border lines for the header box */
.navbar-default {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
}

.navbar-default > div:first-child {
  width: 100%;
}

/* change text color of brand */
.navbar-default .navbar-brand {
  color: black;
  font-size: 20px;
}

/* take out border line of expanded header */
.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: transparent;
}

.navbar-nav > li:first-child > a:first-child {
  display: none;
}

.navbar-nav > li > a {
  height: 60px;
  font-size: 17px;
}

.sign-up-nav-item > a:first-child {
  display: none;
}

/* FORMS */

.form-control {
  width: 90%;
}

.error {
  color: blue;
}

/* MAP */

#map {
  height: 350px;
  /* width: 100%; */
  /* position: relative; */
  /* background-color: lightgray; */
  max-width: 1000px;
  padding: 10px;
  /* margin-right: 0px !important; */
  display: flex;
  justify-content: center;
}

#map > div:first-child {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

/* div > img {
  display: none;
} */

/* CARDS */
/* .card-row {
  height: 300px;
} */


.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  height: 300px;
  width: 300px;
  background-color: lightgray;
  padding: 0px;
  margin: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-size: cover !important;
  padding: 0;
  background-position: center;
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); */
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-detail {
  color: transparent;
  font-size: 50px;
  /* text-align: center; */
}

.card:hover {
  background-color: black;
  opacity: .7;
}

.card:hover .card-detail {
  background-color: black;
  opacity: .7;
  color: white;
}

/* FILE UPLOAD */
.dropzone-area {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-area > div:first-child {
  border-style: dashed;
  border-color: blue !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dropzone-area p {
  color: gray !important;
  font-size: 20px;
}
.dropzone-area i {
  color: gray !important;
  font-size: 80px;
}





@media screen and (min-width: 800px) {
    /* body {
        background-color: lightgreen;
    } */
    .form-control {
      width: 500px;
    }

    /* body > div:first-of-type {
      margin: 0px;
    } */
}
